:root{
  --text-color:rgb(179, 176, 242);
  --secondadry-text--color:rgb(17, 217, 17);
  --background-color:rgb(27, 25, 25);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: var(--text-color);
}
a:hover,a:active,a.active{
  color: var(--secondadry-text--color);
}
.App{
  background-color: var(--background-color);
  height: 100vh;
  color: var(--text-color);
}
.form-container{
  display: flex;
  gap: .4rem;
  flex-direction: column;
  margin-bottom: .7rem;
}
.form-container>input{
  height: 1.5rem;
  padding: .1rem .4rem;
}
.btn{
  background-color: rgb(17, 217, 17);
  color: var(--background-color);
  padding: .4rem .8rem;
  font-weight: 500;
  margin-right: .5rem;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: all .3s;
}
.submit-btn{
  background-color: rgb(17, 217, 17);
  color: var(--background-color);
  padding: .2rem;
  font-weight: 500;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;
}
.submit-btn:hover,
.btn:hover{
  color: var(--text-color);
  background-color: transparent;
}
.disabled-btn{
  background-color: rgb(3, 112, 3);
  padding: .2rem;
  border: 1px solid var(--text-color);
  font-weight: 500;
  border-radius: 3px;
}
